.metadata/

# Compiled object files and libraries
*.o
*.su
*.d
*.cyclo

# Build output directories (Default configurations)
/Debug/
/Release/

# Executable binaries and images
*.elf
*.bin
*.hex
*.map
*.list

# STM32CubeIDE / Eclipse local configurations
.settings/
.launch
*.launch

# Log files and temporary files
*.log

__pycache__
.vscode/settings.json